[submodule "SunEngine/vendor/spdlog"]
	path = SunEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "SunEngine/vendor/GLFW"]
	path = SunEngine/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "SunEngine/vendor/imgui"]
	path = SunEngine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "SunEngine/vendor/glm"]
	path = SunEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
